* {
    font-family: sans-serif;
    color: black;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 60px auto;
}

.product {
    border: black 5px solid;
}

.product-title {
    font-size: 20px;
    text-align: center;
    background-color: #efefef;
    text-transform: uppercase;
    padding: 10px 0;
}

.product-img {
    width: 30%;
}

.product-price {
    font-size: 20px;
}

.ship-price {
    font-size: 12px;
    color: #5b5b5b;
    margin-bottom: 10px;
}

.product-des {
    margin-bottom: 5px;
}

.info:link,
.info:visited {
    color: black;
}

.info:hover {
    text-decoration: none;
}

.info:active {
    color: black;
}

.part-1 {
    margin-bottom: 25px;
}

.product-detail {
    margin-bottom: 15px;
}

.details {
    margin-left: 20px;
    margin-bottom: 5px;
}

.details li {
    list-style: square;
    margin-bottom: 10px;
}

.details:last-child {
    margin-bottom: 0;
}

button {
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
    border-top: 5px solid black;
}

button:hover {
    background-color: white;
    color: black;
}